<p>Response by 
		<% if current_user  %>
			<%= link_to current_user.username, user_path(current_user.id)%> 
			<% else %>
			Anonymous
			<% end %>
			<br>
  <%= response.created_at.strftime("%b %e, %l:%M %p") %><br><br>  <%= response.body %></p>
 
		
